/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     max-width: 960px;
     margin: 0 auto;
}


/******************************************
/* LAYOUT
/*******************************************/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.content-container {
    max-width: 960px;
    margin: 0 auto;
    height: 118px;
    background: #033048;
}

.logo {
    background: #033048; 
    float: left;
    font-size: 2.25em;
    line-height: 1;
    color: #ffffff;
    font-weight: 800;
    padding-left: 60px;
    padding-top: 40px;
}

nav {
    background: #033048; 
    color: #f9e42e;
    text-align: right;  
    padding-top: 0.625em;
    padding-right: 60px;
    padding-top: 50px;
}

a  {
    font-size: 1.5em;
    color: #f9e42e;
    font-weight: 600;
    text-decoration: none;
    font-weight: 300;
}

nav li {
    list-style-type: none;
    display: inline;
    font-size: 1em;
    line-height: 1;
    color: #ffffff;
    padding: 15px;
}

nav ul {
    padding: 0;
    margin: 0;
}


h1 {
    color: #033048;
    font-weight: 600;
    font-size: 2.4em;
    line-height: 1.2;
    padding-top: 10px;
}

h2 {
    color: #033048;
    font-weight: 600;
    font-size: 2.4em;
    line-height: 1.2;
}

h3 {
    color: #033048;
    font-size: 2em;
    font-weight: 800;
    margin: 0;
    padding-top: 40px;
}

.categories-list {
    font-size: 1.2em;
    color: #033048;
    font-weight: 300;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}

h4 {
    color: #033048;
    font-size: 1.8em;
    font-weight: 800;
    line-height: 1.2;
    padding: 0;
    padding-top: 10px;
    margin: 0;
}

.about-text {
    font-size: 1.2em;
    color: #033048;
    font-weight: 300;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

.learn-more {
    font-size: 1.2em;
    color: #033048;
    font-weight: 600; 
    margin-bottom: 20px;
}


.firstcharacter {
    float: left; 
    color: #033048;
    font-size: 60px;
    line-height : 1; 
}

p {
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.3;
}

.read-more {
    font-weight: 600;
    font-size: 1em;
    color: #033048;
}

.sidebar {
    width: 25%;
    float: left;
    padding-right: 60px;
}

#ad-unit {
    padding-top: 40px;
}

main div {
    clear: both;
    width: 75%;
    float: left;
    padding-right: 20px;
    padding-left: 60px;
}

main {
    background-color: #f0efef;
    padding-bottom: 80px;
}

article {
    border-bottom: 1px solid #000;
}
article :last-child {
    text-align: right;
}

.band {
    background-color: #f9e42e;
    padding: 15px;
}

.button-2 {
    display: block;
    padding: 10px 20px 10px 20px;
    width: 20%;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #FFFFFF;
    background: #033048;
    text-decoration: none;
    border-radius: 5px; 
}

.footer {
    background-color: #121212;
    height: 200px; 
    text-align: center;
}

.footer li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.footer ul {
    padding: 0;
}

h5 {
    color: #f9e42e;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 24px;
    padding: 3%;
    margin: 0 auto;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.copyright {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 9px;
    padding-top: 20px;
    margin-bottom: 5px;
    text-align: center;
}

/* mouse over link */
a:hover {
    color: white;
}

